USE [master]
GO
/****** Object:  Database [SearchResults]    Script Date: 4/5/2019 12:56:15 PM ******/
CREATE DATABASE [SearchResults]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SearchResults', FILENAME = N'D:\Programs\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\SearchResults.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SearchResults_log', FILENAME = N'D:\Programs\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\SearchResults_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SearchResults].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SearchResults]
GO
/****** Object:  Table [dbo].[SearchTable]    Script Date: 4/5/2019 12:56:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SearchTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Search_String] [nchar](50) NOT NULL,
	[Directory] [nchar](150) NOT NULL,
	[Results] [nvarchar](255) NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_SearchTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
